<p id="notice"><%= notice %></p>

<h1>Listing Snippets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Contents</th>
      <th>Created by</th>
      <th>Scope</th>
      <th>Tag trigger</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.name %></td>
        <td><%= snippet.contents %></td>
        <td><%= snippet.created_by %></td>
        <td><%= snippet.scope %></td>
        <td><%= snippet.tag_trigger %></td>
        <td><%= link_to 'Show', snippet %></td>
        <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_snippet_path %>
