<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @snippet.name %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @snippet.contents %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @snippet.created_by %>
</p>

<p>
  <strong>Scope:</strong>
  <%= @snippet.scope %>
</p>

<p>
  <strong>Tag trigger:</strong>
  <%= @snippet.tag_trigger %>
</p>

<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
