<%= form_for @snippet do |f| %>
<div class="focus-view-header" style="height: 54px">
  <div class="focus-view-header-name" style="width: 556px;">
    New Snippet
  </div>
  <div class="focus-view-header-right">
      <span class="edit-gist-spinner"></span>
      <%= f.submit class: 'btn btn-primary btn-sm' %>
    </div>
</div>
<div class="focus-view-content" style="height: 363px">
  <div class="focus-view-description">
    <%= f.text_area :description, class: 'gist-description form-control normal-text', rows: 3, placeholder: 'Describe this Snippet'%>
  </div>
  <div class="gist-files-container">
    <div class="gist-file">
      <div class="gist-file-header">
        <div class="gist-file-name">
          <%= f.text_field :name, class: 'gist-file-name-box normal-text', placeholder: 'Name of your snippet' %>
          <%= f.select :language_id, options_from_collection_for_select(Language.all, :id, :name), class: 'gist-file-language-chooser chzn-done form-control normal-text' %>
        </div>
      </div>
      <div class="gist-editor-container">
        <div class="gist-editor" id='editor'></div>
        <%= f.hidden_field :contents, id: 'editor-contents' %>
      </div>
    </div>
  </div>
</div>

<% end %>

<script type="text/javascript">
var editor = ace.edit("editor");
  editor.setTheme("ace/theme/github");
  editor.getSession().setMode("ace/mode/ruby");

  if($('#editor-contents').val() != "") {
    editor.setValue($('#editor-contents').val());
  }

  editor.getSession().on('change', function(e) {
    // e.type, etc

    $('#editor-contents').val(editor.getValue());
    // console.log(e);
  });
</script>
