<!DOCTYPE html>
<html>
  <head>
    <title>
    CodePiecesBackend
    </title>
    <%= stylesheet_link_tag    'developer', media: 'all', 'data-turbolinks-track': true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="developer-layout">
      <header class="navbar navbar-fixed-top navbar-light bg-faded header-view-container">
        <a class="navbar-brand" href="#">
          GistBox
        </a>
        <div class="header-controls">
          <a href="#">
            <i class="material-icons">
            settings
            </i>
          </a>
          <a href="#">
            <i class="material-icons">
            help
            </i>
          </a>
          <a href="#">
            <i class="material-icons fa-rotate-90">
            autorenew
            </i>
          </a>
        </div>
        <div class="header-divider">
        </div>
        <div class="input-group header-searchbox">
          <input class="form-control" placeholder="Search for..." type="text">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
            <i class="material-icons icon-search">
            search
            </i>
            </button>
          </span>
          </input>
        </div>
        <div class="nav navbar-nav pull-right">
          <%= link_to 'Sign out', auth_logout_path, class:'nav-link sign-out', method: :delete %>
        </div>
        <div class="header-nav">
          <div class="nav navbar-nav pull-right">
            <a class="nav-item nav-link " href="#">
              <i aria-hidden="true" class="fa fa-gratipay">
              </i>
              GitTip Us
              <span class="sr-only">
                (current)
              </span>
            </a>
            <a class="nav-item nav-link" href="#">
              <i aria-hidden="true" class="fa fa-scissors">
              </i>
              Clipper
            </a>
            <a class="nav-item nav-link header-gistbox-clipper">
            </a>
            <a class="nav-item nav-link" href="#">
              <i aria-hidden="true" class="fa fa-github">
              </i>
              <%= current_user.name %>
            </a>
          </div>
        </div>
      </header>
      <div class="main-view-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
