<!DOCTYPE html>
<html>
  <head>
    <title>
    CodePiecesBackend
    </title>
    <%= stylesheet_link_tag    'developer', media: 'all', 'data-turbolinks-track': true%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="developer-layout">
      <header class="navbar navbar-fixed-top navbar-light bg-faded header-view-container">
        <a class="navbar-brand" href="#">
          Code Pieces
        </a>
        <div class="header-controls">
          <a href="#">
            <i class="material-icons">
            settings
            </i>
          </a>
          <a href="#">
            <i class="material-icons">
            help
            </i>
          </a>
          <a href="#">
            <i class="material-icons fa-rotate-90">
            autorenew
            </i>
          </a>
        </div>
        <div class="header-divider">
        </div>
        <div class="input-group header-searchbox">
          <input class="form-control" placeholder="Search for..." type="text">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">
            <i class="material-icons icon-search">
            search
            </i>
            </button>
          </span>
          </input>
        </div>
        <div class="nav navbar-nav pull-right">
          <%= link_to 'Sign out', auth_logout_path, class:'nav-link sign-out', method: :delete %>
        </div>
        <div class="header-nav">
          <div class="nav navbar-nav pull-right">
            <a class="nav-item nav-link" href="#">
              <i aria-hidden="true" class="fa fa-github">
              </i>
              <%= current_user.name %>
            </a>
          </div>
        </div>
      </header>
      <div class="main-view-container">
        <div class="sidebar-container">
          <div class="context-container">
            <div class="context-selector">
              <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
              <span class="context-selector-name">
                Personal Library
              </span>
              <i class="fa fa-caret-down">
              </i>
              <span class="context-select-spinner" style="display: none;">
              </span>
              <div class="context-selector-dropdown" style="display: none;">
                <ul>
                  <li class="context-selector-personal-library context-selector-item-selected">
                    <img src="https://avatars.githubusercontent.com/u/6060163?v=3">
                    <span>
                      Personal Library
                    </span>
                    </img>
                  </li>
                  <li class="context-selector-start-new-group">
                    <i class="icon-plus-sign-alt">
                    </i>
                    <span>
                      Start New Group
                    </span>
                  </li>
                </ul>
              </div>
              </img>
            </div>
          </div>
          <ul class="sidebar">
            <li class="sidebar-new-gist tip-right">
              <%= link_to new_snippet_path do %>
                <i class="fa fa-file-o"></i> New Gist
              <% end %>
            </li>
            <li class="sidebar-my-gists <%= selected_sidebar_class('all') %>" data-url="library/my-gists">
              <%= link_to snippets_path(mode: 'all') do %>
                <i class="fa fa-list">
                </i>
                All Snippets
                <span class="sidebar-count">
                  <%= Snippet.count %>
                </span>
              <% end %>
            </li>
            <li class="sidebar-my-gists <%= selected_sidebar_class('owned') %>" data-url="library/my-gists">
              <%= link_to snippets_path(mode: 'owned') do %>
                <i class="fa fa-list">
                </i>
                My Snippets
                <span class="sidebar-count">
                  <%= current_user.snippets.count %>
                </span>
              <% end %>
            </li>
            <li class="sidebar-starred-gists <%= selected_sidebar_class('starred') %>" data-url="library/starred">
              <%= link_to snippets_path(mode: 'starred') do %>
                <i class="fa fa-star">
                </i>
                Starred
                <span class="sidebar-count">
                  <%= current_user.stars.count %>
                </span>
              <% end %>

            </li>
            <li class="sidebar-spacer">
            </li>


          </ul>
        </div>
        <div class="content-container">
          <div class="split-view">
            <%= yield %>
          </div>
        </div>

      </div>
    </div>
  </body>
</html>
